.people__body {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 121px 68px 166px;
}
@media screen and (max-width: 1024px) {
  .people__body {
    padding: 70px 40px;
  }
}
@media screen and (max-width: 768px) {
  .people__body {
    padding: 60px 30px;
  }
}

@media screen and (max-width: 568px) {
  .people__body {
    padding: 30px 30px;
  }
}
