.place__paragraph {
  margin: 0 0 40px;
  font-size: 16px;
  line-height: 1.5;
}
@media screen and (max-width: 1280px) {
  .place__paragraph {
font-size: 13px;
  }
}
@media screen and (max-width: 1024px) {
  .place__paragraph {
    margin: 0 0 15px;
  }
}

@media screen and (max-width: 568px) {
  .place__paragraph {
    margin: 0 0 8px;
    font-size: 12px;
  }
}

.place__paragraph:last-child {
  margin: 0;
}
