.item-people {
  font-family: "Inter", "Arial", sans-serif;

}
/* .people-item:nth-of-type(1) {
transition: opacity 2s,  transform 2s ease;
}
.people-item:nth-of-type(2) {
transition: opacity 2s,  transform 2s ease;
}

.people-item:nth-of-type(3) {
transition: opacity 2s,  transform 6s ease;
}

.people-item:nth-of-type(4) {
transition: opacity 2s,  transform 8s ease;
} */

.ani {
  opacity: 1;
  transform: translateY(0%);
  transition: all .8s ease 0s;
}
